<meta charset="UTF-8">
<style type="text/css">
._customer_cat__wrap {
    font: 12px Arial, sans-serif;
    line-height: 16px;
    max-width: 687px;
    background: #ffffff;
    color: #000000;
}
._customer_cat__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    display: block!important;
}
._customer_cat__cont {
    padding: 22px 30px 0 30px;
}
._customer_cat__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 40px;
    margin-top: 25px;
}
._customer_cat__item {
    display: flex!important;
    width: 50%;
    margin-bottom: 25px;
}
._customer_cat__img {
    position: relative;
    min-width: 36px;
    height: 36px;
    background: #FB7E06;
    box-shadow: 0 2px 6px rgba(251, 126, 6, 0.5);
    border-radius: 20px;
}
._customer_cat__discount:before {
    content: url("img/block_category/discount.png");
    position: absolute;
    top: 2px;
    left: 2px;
}
._customer_cat__guarantee:before {
    content: url("img/block_category/guarantee.png");
    position: absolute;
    top: 3px;
    left: 3px;
}
._customer_cat__vip:before {
    content: url("img/block_category/vip.png");
    position: absolute;
    top: 2px;
    left: 2px;
}
._customer_cat__support:before {
    content: url("img/block_category/support.png");
    position: absolute;
    top: 2px;
    left: 3px;
}
._customer_cat__txt {
    display: grid;
    align-content: center;
    width: 170px;
    margin-left: 10px;
}
._customer_cat__contact {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px 15px 48px;
    background: rgba(253, 174, 56, 0.5);
}
._customer_cat__desc {
    margin-right: 20px;
    margin-top: 1px;
}
._customer_cat__number {
    font-weight: bold;
    margin-top: 3px;
}
._customer_cat__phone,
._customer_cat__details {
    display: block!important;
}
._customer_cat__phone a {
    color: #000000!important;
    text-decoration: none;
}
._customer_cat__phone a:hover {
     text-decoration: underline;
 }
._customer_cat__button {
    width: 158px;
    height: 34px;
    color: #ffffff;
    background: linear-gradient(180deg, #FDAE38 0%, #FB7E06 100%);
    border-radius: 3px;
    line-height: 34px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
._customer_cat__button:hover {
    opacity: 0.8;
}
@media (max-width: 1200px) {
    ._customer_cat__contact {
        display: block;
    }
    ._customer_cat__button {
        margin-top: 20px;
    }
    ._customer_cat__details {
        margin-top: 10px;
    }
    ._customer_cat__txt {
       width: 100%;
    }
}
@media (max-width: 1176px) {
    ._customer_cat__list {
        display: block;
    }
    ._customer_cat__item {
        width: 100%;
    }
}
@media (max-width: 420px) {
    ._customer_cat__list {
        padding-left: 0;
    }
}
</style>
<div class="_customer_cat__wrap">
    <div class="_customer_cat__cont">
        <div class="_customer_cat__title">Экономьте без ущерба качеству!</div>
        <div class="_customer_cat__list">
                <div class="_customer_cat__item">
                    <div class="_customer_cat__img _customer_cat__discount">
                        &nbsp;
                    </div>
                    <div class="_customer_cat__txt">
                        <span>Поддерживаем низкие цены благодаря специальным условиям</span>
                    </div>
                </div>
                <div class="_customer_cat__item">
                    <div class="_customer_cat__img _customer_cat__vip">
                        &nbsp;
                    </div>
                    <div class="_customer_cat__txt">
                        <span>Предлагаем эксклюзивные условия для постоянных клиентов</span>
                    </div>
                </div>
                <div class="_customer_cat__item">
                    <div class="_customer_cat__img _customer_cat__guarantee">
                        &nbsp;
                    </div>
                    <div class="_customer_cat__txt">
                        <span>Гарантируем выгодные условия для всех клиентов</span>
                    </div>
                </div>
                <div class="_customer_cat__item">
                    <div class="_customer_cat__img _customer_cat__support">
                        &nbsp;
                    </div>
                    <div class="_customer_cat__txt">
                        <span>Консультируем по любой группе товаров</span>
                    </div>
                </div>
            </div>
        </div>
    <div class="_customer_cat__contact">
        <div class="_customer_cat__desc">
            <span>Оперативная доставка.</span><br>
            <span>Возможна оплата заказа на месте!</span>
        </div>
        <div class="_customer_cat__phone">
            <div class="_customer_cat__details">
                <span>Узнайте подробности</span>
            </div>
            <div class="_customer_cat__number">
                <a href="tel:+79130041615" onclick="yaCounter41759964.reachGoal('megasite_comblock_tel'); return true;">+7 (913) 004-16-15</a>
            </div>
        </div>
        <div class="js-ga-link js-orders-callback-link tmpl-communication-content _customer_cat__button"
             data-company-id="99162287" data-company-name="ВекторСтрой" data-company-name-rest="ООО"
             data-company-url="http://www.stroyhom.ru" data-ga-id="CK-1193-1"
             data-params="{&quot;company_id&quot;:99162287}" data-statistics="1" data-type="callback"
             onclick="yaCounter41759964.reachGoal('megasite_comblock_order'); return true;">
            Заказать звонок
        </div>
    </div>
</div>
