<meta charset="UTF-8">
<style>@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic');
    style {
        display: none !important;
    }
    ._customer-db {
        display: block !important;
        background: #fff;
        padding: 20px 0;
        margin-bottom: 30px;
        font: normal 16px/1.4 Roboto, Arial, sans-serif !important;
    }
    ._customer-db__cnt {
        display: inline-block !important;
        vertical-align: middle;
        width: 190px;
        box-sizing: border-box;
        position: relative;
        margin: 0 !important;
        color: #333333;
    }
    ._customer-db__cnt span {
        font-weight: 700;
    }
    ._customer-db__btn {
        display: inline-flex !important;
        vertical-align: middle;
        justify-content: center;
        align-items: center;
        background: linear-gradient(0deg, #FB7E06 0%, #FCAE38 100%);
        border-radius: 3px;
        min-width: 300px;
        box-sizing: border-box;
        padding: 12px 10px 13px;
        text-decoration: none !important;
    }
    ._customer-db__btn:hover {
        opacity: 0.85;
    }
    ._customer-db__btn-img {
        margin-right: 20px;
    }
    ._customer-db__btn-cnt {
        font-size: 16px !important;
        color: #ffffff;
        font-weight: 700;
    }
</style>

<div class="_customer-db">
    <p class="_customer-db__cnt">Скачать прайс-лист</p>
    <a onclick="yaCounter41759964.reachGoal('megasite_comblock_download'); return true;" class="_customer-db__btn" target="_blank"
       href="https://st47.stpulscen.ru/apress/companies/pages/blocks/file_blocks/attachments/000/020/877/Прайс_ВЕКТОР_СТрой_Лакокрасочные_материалы.xlsx?1548877328">
        <img class="_customer-db__btn-img" src="img/block_download/download.png" />
        <span class="_customer-db__btn-cnt">Лакокрасочные материалы.xlsx</span>
    </a>
</div>

<div class="_customer-db">
    <p class="_customer-db__cnt">Скачать прайс-лист</p>
    <a onclick="yaCounter41759964.reachGoal('megasite_comblock_download'); return true;" class="_customer-db__btn" target="_blank"
       href="https://st47.stpulscen.ru/apress/companies/pages/blocks/file_blocks/attachments/000/020/876/Прайс_ВЕКТОР_СТрой_Кровельные_материалы.xlsx?1548877328">
        <img class="_customer-db__btn-img" src="img/block_download/download.png" />
        <span class="_customer-db__btn-cnt">Кровельные материалы.xlsx</span>
    </a>
</div>

<div class="_customer-db">
    <p class="_customer-db__cnt">Скачать прайс-лист</p>
    <a onclick="yaCounter41759964.reachGoal('megasite_comblock_download'); return true;" class="_customer-db__btn" target="_blank"
       href="https://st47.stpulscen.ru/apress/companies/pages/blocks/file_blocks/attachments/000/020/875/Прайс_ВЕКТОР_СТрой_Крепежные_изделия.xlsx?1548877328">
        <img class="_customer-db__btn-img" src="img/block_download/download.png" />
        <span class="_customer-db__btn-cnt">Крепежные изделия.xlsx</span>
    </a>
</div>

<div class="_customer-db">
    <p class="_customer-db__cnt">Скачать прайс-лист</p>
    <a onclick="yaCounter41759964.reachGoal('megasite_comblock_download'); return true;" class="_customer-db__btn" target="_blank"
       href="https://st47.stpulscen.ru/apress/companies/pages/blocks/file_blocks/attachments/000/020/874/Прайс_ВЕКТОР_СТрой_Изоляционные_материалы.xlsx?1548877328">
        <img class="_customer-db__btn-img" src="img/block_download/download.png" />
        <span class="_customer-db__btn-cnt">Изоляционные_материалы.xlsx</span>
    </a>
</div>

<div class="_customer-db">
    <p class="_customer-db__cnt">Скачать прайс-лист</p>
    <a onclick="yaCounter41759964.reachGoal('megasite_comblock_download'); return true;" class="_customer-db__btn"
       href="https://st47.stpulscen.ru/apress/companies/pages/blocks/file_blocks/attachments/000/020/873/Прайс_ВЕКТОР_СТрой_Геотекстиль.xlsx?1548877328">
        <img class="_customer-db__btn-img" src="img/block_download/download.png" />
        <span class="_customer-db__btn-cnt">Геотекстиль.xlsx</span>
    </a>
</div>







